body{
    font-family: 'Merriweather', serif;
    text-align: center;
}
#name{
    font-family: "Sacramento", cursive;
}
.top{
    display: inline-flex;
}
.container-top{
    text-align: center;
}
.image{
    border-radius: 5px;
    height: 50px;
    width: 50px;
}